<header>
    <!--menu begin-->
    <div class="menu">
        <nav class="nav" id="topnav">
            <img src="/images/avatar.jpg" alt="" id="heder" style="width:80px;border-radius:200px;float: left;margin-right:20px ">
            <h3 class="logo">个人博客</h3>
            <li>
                <a href="/index/index">网站首页</a>
            </li>
            <li>
                <a href="/about/about">关于我的</a>
            </li>
            <li>
                <a href="#">学习笔记/资源</a>
                <ul class="sub-nav">
                    <li>
                        <a href="/share/share">笔记</a>
                    </li>
                    <li>
                        <a href="/share/share">分享/干货</a>
                    </li>
               
                </ul>
            </li>
            <li>
                <a href="#">全栈开发技术栈</a>
                <ul class="sub-nav">
                    <li>
                        <a href="/lists/list">Web前端</a>
                    </li>
                    <li>
                        <a href="/lists/list">后端开发</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="/time/time">时间轴</a>
            </li>
            <!--search begin-->
            <div id="search_bar" class="search_bar">
                <form id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">
                    <input class="input" placeholder="想搜点什么呢..." type="text" name="keyboard" id="keyboard">
                    <input type="hidden" name="show" value="title" />
                    <input type="hidden" name="tempid" value="1" />
                    <input type="hidden" name="tbname" value="news">
                    <input type="hidden" name="Submit" value="搜索" />
                    <span class="search_ico"></span>
                </form>
            </div>
            <!--search end-->
        </nav>
    </div>
    <!--menu end-->
    <!--mnav begin-->
    <div id="mnav">
        <img src="/images/avatar.jpg" alt="" id="heder" style="width:80px;border-radius:200px;float: left">
        <h3 class="logo">个人博客</h3>
        <dl class="list_dl">
            <dt class="list_dt">
                <a href="/index/index">网站首页</a>
            </dt>
            <dt class="list_dt">
                <a href="/about/about">关于我</a>
            </dt>
            <dt class="list_dt">
                <a href="#">模板分享</a>
            </dt>
            <dd class="list_dd">
                <ul>
                    <li>
                        <a href="/share/share">个人博客模板</a>
                    </li>
                   
                </ul>
            </dd>
            <dt class="list_dt">
                <a href="#">学无止境</a>
            </dt>
            <dd class="list_dd">
                <ul>
                    <li>
                        <a href="/lists/list">心得笔记</a>
                    </li>
                   
                </ul>
            </dd>

            <dt class="list_dt">
                <a href="/time/time">时间轴</a>
            </dt>

        </dl>
    </div>
    <!--mnav end-->
</header>