<div class="sidebar">
    <div class="zhuanti">
        <h2 class="hometitle">特别推荐</h2>
        <ul>
            <li>
                <i>
                    <img src="/images/banner03.jpg">
                </i>
                <p>帝国cms调用方法
                    <span>
                        <a href="/">阅读</a>
                    </span>
                </p>
            </li>
            <li>
                <i>
                    <img src="/images/b04.jpg">
                </i>
                <p>5.20 我想对你说
                    <span>
                        <a href="/">阅读</a>
                    </span>
                </p>
            </li>
            <li>
                <i>
                    <img src="/images/b05.jpg">
                </i>
                <p>个人博客，属于我的小世界！
                    <span>
                        <a href="/">阅读</a>
                    </span>
                </p>
            </li>
        </ul>
    </div>

    <div class="tuijian">
        <h2 class="hometitle">点击排行</h2>
        <ul class="tjpic">
            <i>
                <img src="/images/toppic01.jpg">
            </i>
            <p>
                <a href="/">别让这些闹心的套路，毁了你的网页设计</a>
            </p>
        </ul>
        <ul class="sidenews">
            <li>
                <i>
                    <img src="/images/toppic01.jpg">
                </i>
                <p>
                    <a href="/">别让这些闹心的套路</a>
                </p>
                <span>2018-05-13</span>
            </li>
            <li>
                <i>
                    <img src="/images/toppic02.jpg">
                </i>
                <p>
                    <a href="/">给我模板PSD源文件，我给你设计HTML！</a>
                </p>
                <span>2018-05-13</span>
            </li>
            <li>
                <i>
                    <img src="/images/v1.jpg">
                </i>
                <p>
                    <a href="/">别让这些闹心的套路，毁了你的网页设计</a>
                </p>
                <span>2018-05-13</span>
            </li>
            <li>
                <i>
                    <img src="/images/v2.jpg">
                </i>
                <p>
                    <a href="/">给我模板PSD源文件，我给你设计HTML！</a>
                </p>
                <span>2018-05-13</span>
            </li>
        </ul>
    </div>
    <div class="links">
        <h2 class="hometitle">友情链接</h2>
        <ul>
            <li>
                <a href="http://www.yangqq.com" target="_blank">杨青博客</a>
            </li>
            <li>
                <a href="http://www.yangqq.com" target="_blank">D设计师博客</a>
            </li>
            <li>
                <a href="http://www.yangqq.com" target="_blank">优秀个人博客</a>
            </li>
        </ul>
    </div>
    <div class="guanzhu" id="follow-us">
        <h2 class="hometitle">联系方式 么么哒！</h2>
        <ul>

            <li class="qq">
                <a href="/" target="_blank">
                    <span>QQ号</span>457340</a>
            </li>
            <li class="email">
                <a href="/" target="_blank">
                    <span>邮箱帐号</span>457340@qq.com</a>
            </li>
            <li class="wxgzh">
                <a href="/" target="_blank">
                    <span>微信号</span>457340</a>
            </li>
            <li class="wx">
                <img src="/images/wx.jpg">
            </li>
        </ul>
    </div>
</div>