<div class="sidebar">
    <div class="zhuanti">
        <h2 class="hometitle">特别推荐
        </h2>
        <ul>
                        <li>
                <i>
                    <img src="/uploads/covers/cover_sm/20181120/b9c661da7d92a563e804e2e756be37d6.jpg" style="width:305px;height:170px">
                </i>
                <p>
                    SPA 单页面应用程序                        <span>
                            <a href="/index/info?id=20">阅读</a>
                        </span>
                </p>
                            <li>
                <i>
                    <img src="/ueditor/php/upload/image/20181113/1542079374868725.png" style="width:305px;height:170px">
                </i>
                <p>
                    JWT (JSON WEB TOKEN)                        <span>
                            <a href="/index/info?id=18">阅读</a>
                        </span>
                </p>
                            <li>
                <i>
                    <img src="/ueditor/php/upload/image/20181104/1541336415804634.png" style="width:305px;height:170px">
                </i>
                <p>
                    关于Mysql分区                        <span>
                            <a href="/index/info?id=14">阅读</a>
                        </span>
                </p>
                            </li>
        </ul>
    </div>

    <div class="tuijian">
        <h2 class="hometitle">点击排行</h2>
        <ul class="tjpic">
            <a href="/index/info?id=16">
                <i>
                    <img src="/uploads/covers/cover_big/20181109/dbf43dc41aafde72244f3ee2648b5ec1.png">
                </i>
                <p>
                    laravel 微信/支付宝 支付问题                </p>
        </ul>
        <ul class="sidenews">
                                                            <li>
                <a href="/index/info?id=17">
                    <i>
                        <img src="/uploads/covers/cover_big/20181113/10463abccf37957edf01123072a079c1.png">
                    </i>
                    <p>
                        WebSocket/workerman                    </p>
                    <span>
                                            </span>
                </a>
            </li>
                                                <li>
                <a href="/index/info?id=15">
                    <i>
                        <img src="/ueditor/php/upload/image/20181105/1541408309141050.png">
                    </i>
                    <p>
                        关于js浮点数精准问题                    </p>
                    <span>
                                            </span>
                </a>
            </li>
                                                <li>
                <a href="/index/info?id=4">
                    <i>
                        <img src="/ueditor/php/upload/image/20181020/1540018493470708.png">
                    </i>
                    <p>
                        Laravel路由分组共享属性                    </p>
                    <span>
                                            </span>
                </a>
            </li>
                                                <li>
                <a href="/index/info?id=10">
                    <i>
                        <img src="/uploads/covers/cover_big/20181025/89c677a5c0b36019e0b9ae7364794d3f.png">
                    </i>
                    <p>
                        laravel/构造器/ORM                    </p>
                    <span>
                                            </span>
                </a>
            </li>
                                </ul>
    </div>
    <div class="links">
        <h2 class="hometitle">友情链接</h2>
        <ul>
            <li>
                <a href="https://natsumexavier.github.io/friends/" target="_blank"> <span style="color:red">Xavier</span> 名叫陈二狗的博客网站(菜鸟勿进)</a>
            </li>
          
           
        </ul>
    </div>
    <div class="guanzhu" id="follow-us">
        <h2 class="hometitle">联系方式 么么哒！</h2>
        <ul>

            <li class="qq">
                <a href="/" target="_blank">
                    <span>QQ号</span>457340</a>
            </li>
            <li class="email">
                <a href="/" target="_blank">
                    <span>邮箱帐号</span>457340@qq.com</a>
            </li>
            <li class="wxgzh">
                <a href="/" target="_blank">
                    <span>微信号</span>457340</a>
            </li>
            <li class="wx">
                <img src="/images/wx.jpg">
            </li>
        </ul>
    </div>
</div>