<div class="sidebar">
    <div class="zhuanti">
        <h2 class="hometitle">特别推荐
        </h2>
        <ul>
                        <li>
                <i>
                    <img src="/ueditor/php/upload/image/20181019/1539920834878351.png" style="width:305px;height:170px">
                </i>
                <p>
                    是的123                        <span>
                            <a href="/index/info?id=25">阅读</a>
                        </span>
                </p>
                            <li>
                <i>
                    <img src="/uploads/covers/cover_big/20181018/78b67fd74a617b0ea014b49c181e8593.png" style="width:305px;height:170px">
                </i>
                <p>
                    这是轮播图的图片                        <span>
                            <a href="/index/info?id=20">阅读</a>
                        </span>
                </p>
                            <li>
                <i>
                    <img src="/ueditor/php/upload/image/20181019/1539920834878351.png" style="width:305px;height:170px">
                </i>
                <p>
                    123关于如何能成为一个牛逼的程序员                        <span>
                            <a href="/index/info?id=17">阅读</a>
                        </span>
                </p>
                            </li>
        </ul>
    </div>

    <div class="tuijian">
        <h2 class="hometitle">点击排行</h2>
        <ul class="tjpic">
            <a href="/index/info?id=15">
                <i>
                    <img src="/ueditor/php/upload/image/20181019/1539920834878351.png">
                </i>
                <p>
                    关于如何能成为一个牛逼的程序员                </p>
        </ul>
        <ul class="sidenews">
                                                            <li>
                <a href="/index/info?id=19">
                    <i>
                        <img src="/uploads/covers/cover_big/20181018/322bbea8c50ce0c706261242129c813d.png">
                    </i>
                    <p>
                        关于如何能成为一个牛逼的程序员                    </p>
                    <span>
                        2018-10-19                    </span>
                </a>
            </li>
                                                <li>
                <a href="/index/info?id=18">
                    <i>
                        <img src="/uploads/covers/cover_big/20181018/ca811cc378ccaff3a295b9fb9adb0c2c.png">
                    </i>
                    <p>
                        关于如何能成为一个牛逼的程序员                    </p>
                    <span>
                        2018-10-19                    </span>
                </a>
            </li>
                                                <li>
                <a href="/index/info?id=12">
                    <i>
                        <img src="/uploads/covers/cover_sm/20181017/df859955f8ec6efaa1d23be9dab864e1.jpg">
                    </i>
                    <p>
                        国家扶贫日，让我们牢记习近平总书记的扶贫金句                    </p>
                    <span>
                        2018-10-19                    </span>
                </a>
            </li>
                                                <li>
                <a href="/index/info?id=16">
                    <i>
                        <img src="/uploads/covers/cover_big/20181018/d368fe889935fc2ef3c4adeb6c6985c0.jpg">
                    </i>
                    <p>
                        如何成为一个牛逼的程序员                    </p>
                    <span>
                        2018-10-19                    </span>
                </a>
            </li>
                                </ul>
    </div>
    <div class="links">
        <h2 class="hometitle">友情链接</h2>
        <ul>
            <li>
                <a href="#" target="_blank">暂无友情链接</a>
            </li>
            <li>
                <a href="#" target="_blank">有意请私密/互加</a>
            </li>
            <li>
                <a href="#" target="_blank">联系方式如下</a>
            </li>
        </ul>
    </div>
    <div class="guanzhu" id="follow-us">
        <h2 class="hometitle">联系方式 么么哒！</h2>
        <ul>

            <li class="qq">
                <a href="/" target="_blank">
                    <span>QQ号</span>457340</a>
            </li>
            <li class="email">
                <a href="/" target="_blank">
                    <span>邮箱帐号</span>457340@qq.com</a>
            </li>
            <li class="wxgzh">
                <a href="/" target="_blank">
                    <span>微信号</span>457340</a>
            </li>
            <li class="wx">
                <img src="/images/wx.jpg">
            </li>
        </ul>
    </div>
</div>