<div class="sidebar">
    <div class="zhuanti">
        <h2 class="hometitle">特别推荐
        </h2>
        <ul>
            <?php foreach($sidebar['recom'] as $v):?>
            <li>
                <i>
                    <img src="<?= $v['cover_md'] == null ? $v['cover_big']!=null ? $v['cover_big']:$v['blog_img'] : $v['cover_md']?>" style="width:340px;height:170px">
                </i>
                <p>
                    <?=$v['title']?>
                        <span>
                            <a href="/index/info?id=<?=$v['id']?>">阅读</a>
                        </span>
                </p>
                <?php endforeach;?>
            </li>
        </ul>
    </div>

    <div class="tuijian">
        <h2 class="hometitle">点击排行</h2>
        <ul class="tjpic">
            <a href="/index/info?id=<?=$sidebar['top'][0]['id']?>">
                <i>
                    <img src="<?= $sidebar['top'][0]['cover_md'] == null ? $sidebar['top'][0]['cover_big']!=null ? $sidebar['top'][0]['cover_big'] : $sidebar['top'][0]['blog_img'] : $sidebar['top'][0]['cover_md'] ?>">
                </i>
                <p>
                    <?=$sidebar['top'][0]['title']?>
                </p>
        </ul>
        <ul class="sidenews">
            <?php foreach($sidebar['top'] as $k=> $v):?>
            <?php if($k!=0):?>
            <li>
                <a href="/index/info?id=<?=$v['id']?>">
                    <i>
                        <img src="<?= $v['cover_md'] == null ? $v['cover_big']!=null ? $v['cover_big']:$v['blog_img'] : $v['cover_md']?>">
                    </i>
                    <p>
                        <?=$v['title']?>
                    </p>
                    <span>
                        <?=substr($v['created_at'],0,10)?>
                    </span>
                </a>
            </li>
            <?php endif;?>
            <?php endforeach;?>
        </ul>
    </div>
    <div class="links">
        <h2 class="hometitle">友情链接</h2>
        <ul>
            <li>
                <a href="https://natsumexavier.github.io/friends/" target="_blank"> <span style="color:red">Xavier</span> |  名叫陈二狗的博客网站(菜鸟勿进)</a>
            </li>
            <li>
                <a href="http://www.wy1f.com/" target="_blank">
                    <span style="color:red">Wyafana</span> | 王一骡的成长之路(删库到跑路) </a>
            </li>
            <li>
                <a href="https://blog.xuruochen.cn" target="_blank">
                    <span style="color:red">xrc</span> | 许若尘的个人技术博客 </a>
            </li>
            <li>
                <a href="https://blog.treelo.xin/" target="_blank">
                    <span style="color:red">搅拌糖</span> | 尘埃欢乐场 </a>
            </li>
        </ul>
    </div>
    <div class="guanzhu" id="follow-us">
        <h2 class="hometitle">联系方式 么么哒！</h2>
        <ul>

            <li class="qq">
                <a href="#" >
                    <span>QQ号</span>457340</a>
            </li>
            <li class="email">
                <a href="#">
                    <span>邮箱帐号</span>457340@qq.com</a>
            </li>
            <li class="wxgzh">
                <a href="#" >
                    <span>微信号</span>457340</a>
            </li>
            <li class="wx">
                <img src="/images/wx.jpg">
            </li>
        </ul>
    </div>
</div>