
<title>文章详情</title>
<?php view("comment.header")?>
  <article>
    <h1 class="t_nav">
      <span>您现在的位置是：首页 > <?=$data['current']['cat2']?> > <?=$data['current']['cat3']?></span>
      <a href="/index/index" class="n1">网站首页</a>
      <a href="#" class="n2">文章详情</a>
    </h1>
    <div class="infosbox">
      <div class="newsview">
        <h3 class="news_title"></h3>
        <div class="bloginfo">
          <ul>
            <li class="author">
              <a href="#">宋东野结衣</a>
            </li>
            <li class="lmname">
              <a href="#"><?=$data['current']['cat3']?></a>
            </li>
            <li class="timer"><?=substr($data['current']['created_at'],0,10)?></li>
            <li class="view"><?=$data['current']['look']?>已阅读</li>
            <li class="like"><?=$data['current']['likes']?></li>
          </ul>
        </div>
        <div class="tags">


          <a href="/" target="_blank"><?=$data['current']['cat2']?></a> &nbsp;
          <a href="/" target="_blank"><?=$data['current']['cat3']?></a>


        </div>
        <div class="news_about">
          <strong>简介</strong><?=$data['current']['introduce']?></div>
        <div class="news_con"><?=$data['current']['content']?></div>
      </div>
      <div class="share">
        <p  class="diggit" onclick="zan()"  style="width:100px;cursor:pointer">
          <a>喜欢</a>(<b id="diggnum"><?=$data['current']['likes']?></b>)</p>
        <p class="dasbox">
          <a href="javascript:void(0)" onClick="dashangToggle()" class="dashang" title="打赏，支持一下">打赏本站</a>
        </p>
        <div class="hide_box"></div>
        <div class="shang_box">
          <a class="shang_close" href="javascript:void(0)" onclick="dashangToggle()" title="关闭">关闭</a>
          <div class="shang_tit">
            <p>感谢您的支持，我会继续努力的!</p>
          </div>
          <div class="shang_payimg">
            <img src="/images/alipayimg.jpg" alt="扫码支持" title="扫一扫"> </div>
          <div class="pay_explain">扫码打赏，你说多少就多少</div>
          <div class="shang_payselect">
            <div class="pay_item checked" data-id="alipay">
              <span class="radiobox"></span>
              <span class="pay_logo">
                <img src="/images/alipay.jpg" alt="支付宝">
              </span>
            </div>
            <div class="pay_item" data-id="weipay">
              <span class="radiobox"></span>
              <span class="pay_logo">
                <img src="/images/wechat.jpg" alt="微信">
              </span>
            </div>
          </div>
          <script type="text/javascript">
            $(function () {
              $(".pay_item").click(function () {
                $(this).addClass('checked').siblings('.pay_item').removeClass('checked');
                var dataid = $(this).attr('data-id');
                $(".shang_payimg img").attr("src", "/images/" + dataid + "img.jpg");
                $("#shang_pay_txt").text(dataid == "alipay" ? "支付宝" : "微信");
              });
            });
            function dashangToggle() {
              $(".hide_box").fadeToggle();
              $(".shang_box").fadeToggle();
            }
            // $(".diggit").click(function(){
            //   $ajax({
            //     type:GET,
            //     url:"/index/ajaxGet?id="+"<?=$data['current']['id']?>",
            //     dataType:"json",
            //     success:function($data){
            //       if($data)
            //     }
            //   })
            // })
          </script>
        </div>
      </div>
      <div class="nextinfo">
        <p>上一篇：
          <?php if($data['pre']['title']!=null):?>
          <a href="/index/info?id=<?=$data['pre']['id']?>"><?=$data['pre']['title']?></a>
          <?php else:?>
          <a href="/">到头了,去首页看看吧?</a>
          <?php endif ;?>
        </>
        <p>下一篇：
          <?php if($data['next']['title']!=null):?>
         <a href="/index/info?id=<?=$data['next']['id']?>"><?=$data['next']['title']?></a>
          <?php else:?>
            <a href="/">到底了,去首页看看吧?</a>
          <?php endif;?>
          
        </p>
      </div>
      <div class="otherlink">
        <h2>相关文章</h2>
        <ul>
        <?php if($data['relevant']!=null):?>
          <?php foreach($data['relevant'] as $v):?>
          <li>
            <a href="/index/info?id=<?=$v['id']?>" title="<?=$v['title']?>"><?=$v['title']?></a>
          </li>
          <?php endforeach;?>
          <?php else:?>
          <li>
            <a href="#" title="<?=$v['title']?>">
             暂无相关文章
            </a>
          </li>
          <?php endif;?>
        </ul>
      </div>
      <div class="news_pl">
        <h2>文章评论暂不开放</h2>
        <ul>
          <div class="gbko"> </div>
        </ul>
      </div>
    </div>
<?=view("comment.sidebarHtml")?>
  </article>
<?php view("comment.footer")?>
  <a href="#" class="cd-top">Top</a>
</body>
<script>
  !function () {
    function o(w, v, i) {
      return w.getAttribute(v) || i    
} function j(i) {
      return document.getElementsByTagName(i)
    } function l() {
      var i = j("script"), w = i.length, v = i[w - 1]; return {
        l: w, z: o(v, "zIndex", -1), o: o(v, "opacity", 0.5), c: o(v, "color", "0,0,0"), n: o(v, "count", 99)
      }
    } function k() {
      r = u.width = window.innerWidth ||
        document.documentElement.clientWidth ||
        document.body.clientWidth, n = u.height = window.innerHeight ||
        document.documentElement.clientHeight ||
        document.body.clientHeight
    } function b() {
      e.clearRect(0, 0, r, n); var w = [f].concat(t); var x, v, A, B, z, y; t.forEach(function (i) {
      i.x += i.xa, i.y += i.ya, i.xa *= i.x > r ||
        i.x < 0 ? -1 : 1, i.ya *= i.y > n || i.y < 0 ? -1 : 1, e.fillRect(i.x - 0.5, i.y - 0.5, 1, 1);
        for (v = 0; v < w.length; v++) {          
x = w[v]; if (i !== x && null !== x.x && null !== x.y) {
            B = i.x - x.x, z = i.y - x.y, y = B * B + z * z; y < x.max && (x === f && y >= x.max / 2 && (i.x -= 0.03 * B, i.y -= 0.03 * z), A = (x.max - y) / x.max, e.beginPath(), e.lineWidth = A / 2, e.strokeStyle = "rgba(" + s.c + "," + (A + 0.2) + ")", e.moveTo(i.x, i.y), e.lineTo(x.x, x.y), e.stroke())          
}
        } w.splice(w.indexOf(i), 1)
      }), m(b)
    } var u = document.createElement("canvas"), s = l(), c = "c_n" + s.l, e = u.getContext("2d"), r, n, m = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame || function (i) { window.setTimeout(i, 1000 / 45) }, a = Math.random, f = { x: null, y: null, max: 20000 }; u.id = c; u.style.cssText = "position:fixed;top:0;left:0;z-index:" + s.z + ";opacity:" + s.o; j("body")[0].appendChild(u); k(), window.onresize = k; window.onmousemove = function (i) { i = i || window.event, f.x = i.clientX, f.y = i.clientY }, window.onmouseout = function () { f.x = null, f.y = null }; for (var t = [], p = 0; s.n > p; p++) { var h = a() * r, g = a() * n, q = 2 * a() - 1, d = 2 * a() - 1; t.push({ x: h, y: g, xa: q, ya: d, max: 6000 }) } setTimeout(function () { b() }, 100)
  }();



 
</script>
<script>
 function zan(){
   var a = "<?=$data['current']['id']?>"
    $("#diggnum").text($("#diggnum").text()*1+1);
    $.ajax("/index/ajaxZan?id="+ a);
  }

 
  var a_idx = 0;

    //点击body时触发事件
    $(".diggit").click(function (e) {
      //需要显示的词语
      var a = new Array("富强", "民主", "文明", "和谐", "自由", "平等", "公正", "法治", "爱国", "敬业", "诚信", "友善");
      var color = new Array("#ff6651", "#ff2611", "aqua", "#00ffd5", "red", "yellow","#8c00ff", "#00ff2a", "#3700ff", "#ff00c8", "#ff9900", "#15ff00","skyblue", "blue", "#00ccff", "#00ccff", "#66ff00", "#eeff00");
      var index = Math.floor((Math.random() * color.length)); 
      //设置词语给span标签
      var $i = $("<span/>").text(a[a_idx]);
      //下标等于原来下标+1  余 词语总数
      a_idx = (a_idx + 1) % a.length;
      //获取鼠标指针的位置，分别相对于文档的左和右边缘。
      //获取x和y的指针坐标
      var x = e.pageX, y = e.pageY;
      //在鼠标的指针的位置给$i定义的span标签添加css样式
      $i.css({
        "z-index": 999999999999999999999999999999999999999999999999999999999999999999999,
        "top": y - 40,
        "left": x,
        "position": "absolute",
        "font-weight": "bold",
        "color": color[index]
      });
      //在.diggit添加这个标签
      $(".diggit").append($i);
      //animate() 方法执行 CSS 属性集的自定义动画。
      //该方法通过CSS样式将元素从一个状态改变为另一个状态。CSS属性值是逐渐改变的，这样就可以创建动画效果。
      //详情请看http://www.w3school.com.cn/jquery/effect_animate.asp
      $i.animate({
        //将原来的位置向上移动180
        "top": y - 180,
        "opacity": 0
        //1500动画的速度
      }, 1500, function () {
        //时间到了自动删除
        $i.remove();
      });
    });
</script>
</html>