<title>文章分类</title>
<?php view("comment.header")?>
  <div class="pagebg sh"></div>
  <div class="container">
    <h1 class="t_nav">
      <span>好咖啡要和朋友一起品尝，好‘东西’也要和同样喜欢它的人一起分享。 </span>
      <a href="/index/index" class="n1">网站首页</a>
      <a href="#" class="n2"><?=$data[0]['parent_id']==2 ? "Web前端" : "后端开发"?></a>
    </h1>
    <div class="share">
      <ul>
        <?php foreach($data as $v) :?>
        <li>
          <div class="shareli">
            <a href="/index/list?type3=<?=$v['id']?>" target="_blank">
              <i>
                <img src="<?=$v['cover']?>" style="width:260px;height:200px">
              </i>
              <span><?=$v['name']?></span>
            </a>
          </div>
        </li>
        <?php endforeach;?>
      </ul>
    </div>
  </div>
<?php view("comment.footer")?>
  <a href="#" class="cd-top">Top</a>
</body>

</html>