<title>网站首页(简)</title>
<!doctype html>
<html>

<head>
    <meta charset="gbk">
    <title>欢迎来到我的个人博客</title>
    <meta name="keywords" content="目标是成为一个牛逼到不要不要的全栈程序员" />
    <meta name="description" content="但是貌似不太现实 还是乖乖写代码吧！" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/m.css" rel="stylesheet">
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/jquery.easyfader.min.js"></script>
    <script src="/js/scrollReveal.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/page.js"></script>
    <link rel="shortcut icon" href="/images/icon.ico" />
    <link rel="bookmark" href="/images/icon.ico" />
    <!--[if lt IE 9]>
<script src="/js/modernizr.js"></script>
<![endif]-->
</head>

<body>
<header>
    <!--menu begin-->
    <div class="menu">
        <nav class="nav" id="topnav">
            <img src="/images/avatar.jpg" alt="" id="heder" style="width:80px;border-radius:200px;float: left;margin-right:20px ">
            <h3 class="logo">个人博客</h3>
            <li>
                <a href="/">我的首页(可选)</a>
                <ul class="sub-nav">
                    <li>
                         <a href="/index/time">网站首页(简)</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/index/about">关于我的</a>
            </li>
            
            <li>
                <a href="#">技术类别(前/后)</a>
                <ul class="sub-nav">
                    <li>
                        <a href="/index/share?type=2">Web前端</a>
                    </li>
                    <li>
                        <a href="/index/share?type=3">后端开发</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">全栈技术栈</a>
                <ul class="sub-nav">
                    <li>
                        <a href="/index/webPhp?type2=3">后端开发</a>
                    </li>
                    <li>
                        <a href="/index/webPhp?type2=2">Web前端</a>
                    </li>
                    <li>
                        <a href="/index/webPhp?type2=16">其他项</a>
                    </li>
                    
                </ul>
            </li>
            <!--search begin-->
            <div id="search_bar" class="search_bar">
                <form id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">
                    <input class="input" placeholder="该功能暂时放置" type="text" name="keyboard" id="keyboard">
                    <input type="hidden" name="show" value="title" />
                    <input type="hidden" name="tempid" value="1" />
                    <input type="hidden" name="tbname" value="news">
                    <input type="hidden" name="Submit" value="搜索" />
                    <span class="search_ico"></span>
                </form>
            </div>
            <!--search end-->
        </nav>
    </div>
    <!--menu end-->
    <!--mnav begin-->

    <!--mnav end-->
</header><div class="pagebg timer"> </div>
<div class="container">
  <h1 class="t_nav">
    <span>时光飞逝，机会就在我们眼前，何时找到了灵感，就要把握机遇，我们需要智慧和勇气去把握机会。</span>
    <a href="/index/index" class="n1">网站首页</a>
    <a href="#" class="n2">网站首页(简)</a>
  </h1>
  <div class="timebox">
    <ul id="list" style="display:none;">
            <li>
        <span>2018-11-21</span>
        <a href="/index/info?id=16" title="帝国cms 首页或者列表页 实现图文不同样式调用方法">laravel 微信/支付宝 支付问题</a>
      </li>
            <li>
        <span>2018-11-21</span>
        <a href="/index/info?id=3" title="帝国cms 首页或者列表页 实现图文不同样式调用方法">Laravel表单验证常用规则（1）</a>
      </li>
            <li>
        <span>2018-11-21</span>
        <a href="/index/info?id=11" title="帝国cms 首页或者列表页 实现图文不同样式调用方法">全国省市县三级联动</a>
      </li>
            <li>
        <span>2018-11-21</span>
        <a href="/index/info?id=15" title="帝国cms 首页或者列表页 实现图文不同样式调用方法">关于js浮点数精准问题</a>
      </li>
            <li>
        <span>2018-11-21</span>
        <a href="/index/info?id=17" title="帝国cms 首页或者列表页 实现图文不同样式调用方法">WebSocket/workerman</a>
      </li>
            <li>
        <span>2018-11-21</span>
        <a href="/index/info?id=22" title="帝国cms 首页或者列表页 实现图文不同样式调用方法">axios（Vue使用axios完成ajax请求）</a>
      </li>
            <li>
        <span>2018-11-21</span>
        <a href="/index/info?id=20" title="帝国cms 首页或者列表页 实现图文不同样式调用方法">SPA 单页面应用程序</a>
      </li>
            <li>
        <span>2018-11-21</span>
        <a href="/index/info?id=19" title="帝国cms 首页或者列表页 实现图文不同样式调用方法">GatewayWorker</a>
      </li>
            <li>
        <span>2018-11-21</span>
        <a href="/index/info?id=18" title="帝国cms 首页或者列表页 实现图文不同样式调用方法">JWT (JSON WEB TOKEN)</a>
      </li>
            <li>
        <span>2018-11-21</span>
        <a href="/index/info?id=4" title="帝国cms 首页或者列表页 实现图文不同样式调用方法">Laravel路由分组共享属性</a>
      </li>
            <li>
        <span>2018-11-21</span>
        <a href="/index/info?id=13" title="帝国cms 首页或者列表页 实现图文不同样式调用方法">laravel 字段别名 聚合函数使用</a>
      </li>
            <li>
        <span>2018-11-21</span>
        <a href="/index/info?id=14" title="帝国cms 首页或者列表页 实现图文不同样式调用方法">关于Mysql分区</a>
      </li>
            <li>
        <span>2018-11-21</span>
        <a href="/index/info?id=12" title="帝国cms 首页或者列表页 实现图文不同样式调用方法">Laravel表单相关的一些设置项(登录/注册)</a>
      </li>
            <li>
        <span>2018-11-21</span>
        <a href="/index/info?id=7" title="帝国cms 首页或者列表页 实现图文不同样式调用方法">关于Reids(内容过长.谨慎食用)</a>
      </li>
            <li>
        <span>2018-11-21</span>
        <a href="/index/info?id=10" title="帝国cms 首页或者列表页 实现图文不同样式调用方法">laravel/构造器/ORM</a>
      </li>
            <li>
        <span>2018-11-21</span>
        <a href="/index/info?id=6" title="帝国cms 首页或者列表页 实现图文不同样式调用方法">Virtual Dom(虚拟dom)</a>
      </li>
            <li>
        <span>2018-11-21</span>
        <a href="/index/info?id=5" title="帝国cms 首页或者列表页 实现图文不同样式调用方法">学习资源分享/视频教学/慕课收费视频分享</a>
      </li>
            <li>
        <span>2018-11-21</span>
        <a href="/index/info?id=2" title="帝国cms 首页或者列表页 实现图文不同样式调用方法">Laravel表单验证常用规则（2）</a>
      </li>
            <li>
        <span>2018-11-21</span>
        <a href="/index/info?id=1" title="帝国cms 首页或者列表页 实现图文不同样式调用方法">Laravel的常用CLI命令</a>
      </li>
          </ul>
    <ul id="list2">
    </ul>
    <script src="/js/page2.js"></script>
  </div>
</div>
<footer>
    <p>Design by
        <a href="http://www.yangqq.com" target="_blank">宋冬野结衣个人博客</a>
        <a href="/">蜀ICP备11002373号-1</a>
    </p>
</footer><a href="#" class="cd-top">Top</a>
</body>
<script>
  !function () {
    function o(w, v, i) {
      return w.getAttribute(v) || i    
} function j(i) {
      return document.getElementsByTagName(i)
    } function l() {
      var i = j("script"), w = i.length, v = i[w - 1]; return {
        l: w, z: o(v, "zIndex", -1), o: o(v, "opacity", 0.5), c: o(v, "color", "0,0,0"), n: o(v, "count", 99)
      }
    } function k() {
      r = u.width = window.innerWidth ||
        document.documentElement.clientWidth ||
        document.body.clientWidth, n = u.height = window.innerHeight ||
        document.documentElement.clientHeight ||
        document.body.clientHeight
    } function b() {
      e.clearRect(0, 0, r, n); var w = [f].concat(t); var x, v, A, B, z, y; t.forEach(function (i) {
      i.x += i.xa, i.y += i.ya, i.xa *= i.x > r ||
        i.x < 0 ? -1 : 1, i.ya *= i.y > n || i.y < 0 ? -1 : 1, e.fillRect(i.x - 0.5, i.y - 0.5, 1, 1);
        for (v = 0; v < w.length; v++) {          
x = w[v]; if (i !== x && null !== x.x && null !== x.y) {
            B = i.x - x.x, z = i.y - x.y, y = B * B + z * z; y < x.max && (x === f && y >= x.max / 2 && (i.x -= 0.03 * B, i.y -= 0.03 * z), A = (x.max - y) / x.max, e.beginPath(), e.lineWidth = A / 2, e.strokeStyle = "rgba(" + s.c + "," + (A + 0.2) + ")", e.moveTo(i.x, i.y), e.lineTo(x.x, x.y), e.stroke())          
}
        } w.splice(w.indexOf(i), 1)
      }), m(b)
    } var u = document.createElement("canvas"), s = l(), c = "c_n" + s.l, e = u.getContext("2d"), r, n, m = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame || function (i) { window.setTimeout(i, 1000 / 45) }, a = Math.random, f = { x: null, y: null, max: 20000 }; u.id = c; u.style.cssText = "position:fixed;top:0;left:0;z-index:" + s.z + ";opacity:" + s.o; j("body")[0].appendChild(u); k(), window.onresize = k; window.onmousemove = function (i) { i = i || window.event, f.x = i.clientX, f.y = i.clientY }, window.onmouseout = function () { f.x = null, f.y = null }; for (var t = [], p = 0; s.n > p; p++) { var h = a() * r, g = a() * n, q = 2 * a() - 1, d = 2 * a() - 1; t.push({ x: h, y: g, xa: q, ya: d, max: 6000 }) } setTimeout(function () { b() }, 100)
  }();
</script>
</html>