<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>管理中心 - 添加新记录</title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/Styles/general.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/main.css" rel="stylesheet" type="text/css" />
</head>
<script>
    !function () {
        function o(w, v, i) {
            return w.getAttribute(v) || i
        } function j(i) {
            return document.getElementsByTagName(i)
        } function l() {
            var i = j("script"), w = i.length, v = i[w - 1]; return {
                l: w, z: o(v, "zIndex", -1), o: o(v, "opacity", 0.5), c: o(v, "color", "0,0,0"), n: o(v, "count", 99)
            }
        } function k() {
            r = u.width = window.innerWidth ||
                document.documentElement.clientWidth ||
                document.body.clientWidth, n = u.height = window.innerHeight ||
                document.documentElement.clientHeight ||
                document.body.clientHeight
        } function b() {
            e.clearRect(0, 0, r, n); var w = [f].concat(t); var x, v, A, B, z, y; t.forEach(function (i) {            
i.x += i.xa, i.y += i.ya, i.xa *= i.x > r ||
                i.x < 0 ? -1 : 1, i.ya *= i.y > n || i.y < 0 ? -1 : 1, e.fillRect(i.x - 0.5, i.y - 0.5, 1, 1);
                for (v = 0; v < w.length; v++) {
                    x = w[v]; if (i !== x && null !== x.x && null !== x.y) {
                        B = i.x - x.x, z = i.y - x.y, y = B * B + z * z; y < x.max && (x === f && y >= x.max / 2 && (i.x -= 0.03 * B, i.y -= 0.03 * z), A = (x.max - y) / x.max, e.beginPath(), e.lineWidth = A / 2, e.strokeStyle = "rgba(" + s.c + "," + (A + 0.2) + ")", e.moveTo(i.x, i.y), e.lineTo(x.x, x.y), e.stroke())
                    }
                } w.splice(w.indexOf(i), 1)            
}), m(b)
        } var u = document.createElement("canvas"), s = l(), c = "c_n" + s.l, e = u.getContext("2d"), r, n, m = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame || function (i) { window.setTimeout(i, 1000 / 45) }, a = Math.random, f = { x: null, y: null, max: 20000 }; u.id = c; u.style.cssText = "position:fixed;top:0;left:0;z-index:" + s.z + ";opacity:" + s.o; j("body")[0].appendChild(u); k(), window.onresize = k; window.onmousemove = function (i) { i = i || window.event, f.x = i.clientX, f.y = i.clientY }, window.onmouseout = function () { f.x = null, f.y = null }; for (var t = [], p = 0; s.n > p; p++) { var h = a() * r, g = a() * n, q = 2 * a() - 1, d = 2 * a() - 1; t.push({ x: h, y: g, xa: q, ya: d, max: 6000 }) } setTimeout(function () { b() }, 100)
    }();
</script>

<body>
    <h1>
        <span class="action-span">
            <a href="/blog/index">数据列表</a>
        </span>
        <span class="action-span1">
            <a href="/admin/index">管理中心</a>
        </span>
        <span id="search_id" class="action-span1"> - 添加新记录 </span>
        <div style="clear:both"></div>
    </h1>
    <div class="main-div">
        <form action="/blog/insert" method="post" enctype="multipart/form-data">
            <table width="100%" id="general-table">
                <tr>
                    <td class="label">
                        标题:</td>
                    <td>
                        <input type='text' size="80" name='title'>
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        一级分类:</td>
                    <td>
                        <select name="cat_1" id="">
                            <?php foreach($type as $v):?>
                            <option value="<?=$v['id']?>">
                                <?=$v['name']?>
                            </option>
                            <?php endforeach;?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        二级分类:</td>
                    <td>
                        <select name="cat_2" id="">

                        </select>
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        三级分类:</td>
                    <td>
                        <select name="cat_3" id="">

                        </select>
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        简介:</td>
                    <td>
                        <input type='text' size="80" name='introduce'>
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        上传封面:</td>
                    <td>
                        /可多选<br>
                        /如需多选请选择三张<br>
                        <input class="preview" type='file' multiple="multiple" size="80" name='covers[]'>
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        是否显示:</td>
                    <td>
                        <input type='radio' checked size="80" name='is_show' value="1">:是
                        <font color="red">*</font>
                        <input type='radio' size="80" name='is_show' value="0">:否
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        是否轮播:</td>
                    <td>
                        <input type='radio' size="80" name='banner' value="1">:是
                        <font color="red">*</font>
                        <input type='radio' checked size="80" name='banner' value="0">:否
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        是否推荐:</td>
                    <td>/如需轮播，请上传一张封面 <br>
                        <input type='radio'  size="80" name='recommend' value="1">:是
                        <font color="red">*</font>
                        <input type='radio' checked size="80" name='recommend' value="0">:否
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        内容:</td>
                    <td class="content" style="width:1100px">
                        <!-- -- 加载UEEdtior编辑器的容器 -->
                        <script id="container" name="content" type="text/plain"></script>
                        <!-- 配置文件 -->
                        <script type="text/javascript" src="/js/utf8-php/ueditor.config.js"></script>
                        <!-- 编辑器源码文件 -->
                        <script type="text/javascript" src="/js/utf8-php/ueditor.all.js"></script>
                        <!-- 实例化编辑器 -->
                        <script type="text/javascript">
                            var ue = UE.getEditor('container', {
                                //initialFrameWidth : 600,
                                initialFrameHeight: 400
                            });
                        </script>
                        <!-- 加载UEEdtior编辑器的容器结束 -->
                    </td>
                </tr>
            </table>
            <div class="button-div">
                <input type="submit" value=" 确定 " />
                <input type="reset" value=" 重置 " />
            </div>
        </form>
    </div>
    <?=view('comment/footer')?>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/img_preview.js"></script>
<script>
    // 三级联动
    var id = $("select[name=cat_1]").val();
    $("select[name=cat_1]").change(function () {
        if ($(this).val() != '') {
            var parent = $(this).val();
            console.log(parent);
            ajax_get(parent, 2)
        }
    })
    $("select[name=cat_2]").change(function () {
        if ($(this).val() != '') {
            var parent = $(this).val();
            ajax_get2(parent, 3)
        }
    })
    var temp = 0;
    function ajax_get(parent, num) {
        var str = '';
        if (num == 3) {
            temp++
        }
        else {
            temp = 0;
        }
        if (temp > 1) {
            return false;
        }
        $.ajax({
            type: "GET",
            url: "/admin/ajax_get_cat?id=" + parent,
            dataType: "json",
            success: function (data) {
                for (let i = 0; i < data.length; i++) {
                    str += '<option  value="' + data[i].id + '">' + data[i].name + '</option>'
                }
                $("select[name=cat_" + num + "]").html(str);
                var three_id = $("select[name=cat_2]").val();
                ajax_get(three_id, 3)
            }
        })
    }
    function ajax_get2(parent, num) {
        var str = '';
        $.ajax({
            type: "GET",
            url: "/admin/ajax_get_cat?id=" + parent,
            dataType: "json",
            success: function (data) {
                for (let i = 0; i < data.length; i++) {
                    str += '<option  value="' + data[i].id + '">' + data[i].name + '</option>'
                }
                $("select[name=cat_" + num + "]").html(str);
            }
        })
    }
    ajax_get(id, 2)
</script>

</html>