<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>管理中心 - 添加新记录</title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/Styles/general.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/main.css" rel="stylesheet" type="text/css" />
</head>


<body>
    <h1>
        <span class="action-span">
            <a href="/blog/index">数据列表</a>
        </span>
        <span class="action-span1">
            <a href="/admin/index">管理中心</a>
        </span>
        <span id="search_id" class="action-span1"> - 添加新记录 </span>
        <div style="clear:both"></div>
    </h1>
    <div class="main-div">
        <form action="/blog/update?id=<?=$data['id']?>" method="post" enctype="multipart/form-data">
            <table width="100%" id="general-table">
                <tr>
                    <td class="label">
                        标题:</td>
                    <td>
                        <input type='text' size="80" name='title' value="<?=$data['title']?>">
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        一级分类:</td>
                    <td>
                        <select name="cat_1" id="">
                            <?php foreach($type as $v):?>
                            <option value="<?=$v['id']?>">
                                <?=$v['name']?>
                            </option>
                            <?php endforeach;?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        二级分类:</td>
                    <td>
                        <select name="cat_2" id="">

                        </select>
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        三级分类:</td>
                    <td>
                        <select name="cat_3" id="">

                        </select>
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        简介:</td>
                    <td>
                        <input type='text' size="80" name='introduce' value="<?=$data['introduce']?>">
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        封面:</td>
                    <td>
                        /可多选<br>
                        /如需多选请选择三张<br>
                        <div class="img_preview">
                            <?php if($data['cover_big']): ?>
                            <img src="<?=$data['cover_big']?>" width="120" height="120" alt="">
                            <?php elseif($data['cover_md']):?>
                            <?php foreach($data['cover_md'] as $k=>$v):?>
                            <img src="<?=$v?>" alt="">
                            <?php endforeach;?>
                            <?php endif;?>
                        </div>
                        <input class="preview" type='file' multiple="multiple" size="80" name='covers[]'>
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        是否显示:</td>
                    <td>
                        <input <?php if($data['is_show']==1) echo 'checked' ;?> type='radio' size="80" name='is_show'
                        value="1">:是
                        <font color="red">*</font>
                        <input <?php if($data['is_show']==0) echo 'checked' ;?> type='radio' size="80" name='is_show'
                        value="0">:否
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        是否轮播:</td>
                    <td>/如需轮播，请上传一张封面 <br>
                        <input <?php if($data['banner']==1) echo 'checked' ;?> type='radio' checked size="80" name='banner' value="1">:是
                        <font color="red">*</font>
                        <input <?php if($data['banner']==0) echo 'checked' ;?> type='radio' size="80" name='banner' value="0">:否
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        是否推荐:</td>
                    <td>
                        <input <?php if($data['recommend']==1) echo 'checked' ;?> type='radio' checked size="80" name='recommend' value="1">:是
                        <font color="red">*</font>
                        <input <?php if($data['recommend']==0) echo 'checked' ;?> type='radio' size="80" name='recommend' value="0">:否
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        内容:</td>
                    <td class="content" style="width:1100px">
                        <!-- -- 加载UEEdtior编辑器的容器 -->


                        <script id="container" name="content" type="text/plain"><?=$data['content']?></script>
                        <!-- 配置文件 -->
                        <script type="text/javascript" src="/js/utf8-php/ueditor.config.js"></script>
                        <!-- 编辑器源码文件 -->
                        <script type="text/javascript" src="/js/utf8-php/ueditor.all.js"></script>
                        <!-- 实例化编辑器 -->
                        <script type="text/javascript">
                            var ue = UE.getEditor('container', {
                                //initialFrameWidth : 600,
                                initialFrameHeight: 400
                            });
                        </script>


                        <!-- 加载UEEdtior编辑器的容器结束 -->
                    </td>
                </tr>
            </table>
            <div class="button-div">
                <input type="submit" value=" 确定 " />
                <input type="reset" value=" 重置 " />
            </div>
        </form>
    </div>
    <?=view('comment/footer')?>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/Js/img_preview.js"></script>
<script>
    // 三级联动
    var id = $("select[name=cat_1]").val();
    var type_2 = "<?=$data['cat_2']?>";
    var type_3 = "<?=$data['cat_3']?>";
    $("select[name=cat_1]").change(function () {
        if ($(this).val() != '') {
            var parent = $(this).val();
            console.log(parent);
            ajax_get(parent, 2)
        }
    })
    $("select[name=cat_2]").change(function () {
        if ($(this).val() != '') {
            var parent = $(this).val();
            ajax_get2(parent, 3)
        }
    })
    var temp = 0;
    function ajax_get(parent, num) {
        var str = '';
        if (num == 3) {
            temp++
        }
        else {
            temp = 0;
        }
        if (temp > 1) {
            return false;
        }
        $.ajax({
            type: "GET",
            url: "/admin/ajax_get_cat?id=" + parent,
            dataType: "json",
            success: function (data) {
                for (let i = 0; i < data.length; i++) {
                    if (data[i]['id'] == type_2) {
                        str += '<option  selected="selected"  value="' + data[i].id + '">' + data[i].name + '</option>'
                    } else if (data[i]['id'] == type_3) {
                        str += '<option  selected="selected"  value="' + data[i].id + '">' + data[i].name + '</option>'
                    } else {
                        str += '<option   value="' + data[i].id + '">' + data[i].name + '</option>'
                    }
                }
                $("select[name=cat_" + num + "]").html(str);
                var three_id = $("select[name=cat_2]").val();
                ajax_get(three_id, 3)
            }
        })
    }
    function ajax_get2(parent, num) {
        var str = '';
        $.ajax({
            type: "GET",
            url: "/admin/ajax_get_cat?id=" + parent,
            dataType: "json",
            success: function (data) {
                for (let i = 0; i < data.length; i++) {
                    str += '<option   value="' + data[i].id + '">' + data[i].name + '</option>'
                }
                $("select[name=cat_" + num + "]").html(str);
            }
        })
    }
    ajax_get(id, 2)
</script>

</html>