<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>管理中心 - 添加新记录</title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/Styles/general.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>
        <span class="action-span">
            <a href="/blog/index">数据列表</a>
        </span>
        <span class="action-span1">
            <a href="__GROUP__">管理中心</a>
        </span>
        <span id="search_id" class="action-span1"> - 添加新记录 </span>
        <div style="clear:both"></div>
    </h1>
    <div class="main-div">
        <form action="/blog/update?id=<?=$data['id']?>" method="post" enctype="multipart/form-data">
            <table width="100%" id="general-table">
                <tr>
                    <td class="label">
                        标题:</td>
                    <td>
                        <input type='text' size="80" name='title' value="<?=$data['title']?>">
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        类型:</td>
                    <td>
                        <select name="type" id="">
                            <option value="">请选择分类</option>
                            <?php foreach($type as $k=>$v):?>
                            <?php if($k+1==$data['type_id']):?>
                                <option selected value="<?=$v['id']?>">
                                    <?=$v['name']?> 
                                </option>
                            <?php else :?>
                                <option value="<?=$v['id']?>">
                                    <?=$v['name']?>
                                </option>
                            <?php endif?>
                            <?php endforeach;?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        简介:</td>
                    <td>
                        <input type='text' size="80" name='introduce' value="<?=$data['introduce']?>">
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        内容:</td>
                    <td style="width:1100px">
                        <!-- -- 加载UEEdtior编辑器的容器 -->
                        
                        
                        <script id="container" name="content" type="text/plain"><?=$data['content']?></script>
                        <!-- 配置文件 -->
                        <script type="text/javascript" src="/js/utf8-php/ueditor.config.js"></script>
                        <!-- 编辑器源码文件 -->
                        <script type="text/javascript" src="/js/utf8-php/ueditor.all.js"></script>
                        <!-- 实例化编辑器 -->
                        <script type="text/javascript">
                            var ue = UE.getEditor('container', {
                                //initialFrameWidth : 600,
                                initialFrameHeight: 400
                            });
                        </script>
                        
                        
                        <!-- 加载UEEdtior编辑器的容器结束 -->
                    </td>
                </tr>
            </table>
            <div class="button-div">
                <input type="submit" value=" 确定 " />
                <input type="reset" value=" 重置 " />
            </div>
        </form>
    </div>
    <?=view('comment/footer')?>
</body>

</html>