<title>网站首页(简)</title>
<?php view("comment.header")?>
<div class="pagebg timer"> </div>
<div class="container">
  <h1 class="t_nav">
    <span>时光飞逝，机会就在我们眼前，何时找到了灵感，就要把握机遇，我们需要智慧和勇气去把握机会。</span>
    <a href="/index/index" class="n1">网站首页</a>
    <a href="#" class="n2">网站首页(简)</a>
  </h1>
  <div class="timebox">
    <ul id="list" style="display:none;">
      <?php foreach($data as $v):?>
      <li>
        <span><?=substr($v['created_at'],0,10)?></span>
        <a href="/index/info?id=<?=$v['id']?>" title="帝国cms 首页或者列表页 实现图文不同样式调用方法"><?=$v['title']?></a>
      </li>
      <?php endforeach;?>
    </ul>
    <ul id="list2">
    </ul>
    <script src="/js/page2.js"></script>
  </div>
</div>
<?php view("comment.footer");?>
<a href="#" class="cd-top">Top</a>
</body>

</html>